<div class="container user-list">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <img src="" alt="test-image">
            A list item
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <img src="" alt="test-image">
            A second list item
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <img src="" alt="test-image">
            A third list item
        </li>
    </ul>
</div>