<div class="container centered">
    <div class="chat-window" id="chat-div">
        <div *ngFor="let conversation of userConversation"
            [className]="conversation.isUserMessage ? 'user-message' : 'agent-message'">
            <div [ngClass]="{
                'bg-info': conversation.isUserMessage,
                'bg-primary': !conversation.isUserMessage,
                'message-card': true 
            }">
                {{ conversation.message }}
            </div>
        </div>
    </div>

    <form #formData="ngForm" (ngSubmit)="sendMessage(formData)" class="input-form" autocomplete="off">
        <input id="message_input" class="agent-input" type="text" [(ngModel)]="message" name="agent-response" required
            placeholder="message...">
        <button class="agent-submit btn btn-success" type="submit">
            send
            <fa-icon style="color: white;" icon="paper-plane"></fa-icon>
        </button>
    </form>
</div>