<div class="container bg-light centered">
    <div class="chat-window">
        <div class="user-message">
            <div class="message-card bg-info">
                user message user message user message
            </div>
        </div>
        <div class="agent-message">
            <div class="message-card bg-primary">
                agent reply
            </div>
        </div>
        <div class="agent-message">
            <div class="message-card bg-primary">
                agent reply agent reply agent reply agent reply agent reply agent reply agent reply agent reply agent
                reply agent reply agent reply agent reply agent reply agent reply agent reply agent reply agent reply
                agent reply agent reply agent reply agent reply agent reply agent reply agent reply
            </div>
        </div>
        <div class="user-message">
            <div class="message-card bg-info">
                user message
            </div>
        </div>
        <div class="agent-message">
            <div class="message-card bg-primary">
                agent reply
            </div>
        </div>
        <div class="user-message">
            <div class="message-card bg-info">
                user message
            </div>
        </div>
        <div class="user-message">
            <div class="message-card bg-info">
                user message
            </div>
        </div>

    </div>

    <form class="input-form">
        <input class="agent-input" type="text" name="agent-response">
        <input class="agent-submit" type="submit" value="send">
    </form>
</div>